<div>
    <div>
        <h3>Overview</h3>
        Counter-Strike: Global Offensive (CS:GO) is a first-person shooter video game which is a part of the Counter-Strike series. It was announced to the public on August 12, 2011, and is developed by Valve Corporation and their partner, Hidden Path Entertainment. The game was later released on August 21, 2012 for the Playstation 3, Xbox 360, Microsoft Windows, and OS X and later Linux as a downloadable title.
    </div>
    <div id="development">
        <h3>Development</h3>
        Counter-Strike: Global Offensive started off as an Xbox 360 port of Counter-Strike: Source by Hidden Path Entertainment. Seeing this as an opportunity to expand the franchise, Valve turned it into an entirely new game.[1]
        Jess Cliffe confirmed the title "Global Offensive" on the official Steam forums on August 11, 2011,[2] while Valve later confirmed with its official announcement on August 12, 2011[3].
        Counter-Strike: Global Offensive uses the latest version of the Source engine and is not built off of Counter-Strike: Source. After the success of the previous game, Valve wanted the newest game in the franchise to cater to both the casual and competitive community by including a matchmaking system as well as support for dedicated servers.
        Valve announced the beta would begin in October, but after receiving feedback from professional players who had been invited to playtest earlier versions of the beta, Valve decided to delay the beta [4]. After addressing the majority of the issues the closed beta started on November 30, 2011 to a pool of around 10,000 select players. After almost a year of the closed beta, Valve opened the beta up starting August 14, 2012 to anyone who had pre-ordered the game.
        As of yet, the console versions have not been updated and are extremely different when compared to their Steam counterpart. It is currently unknown whether or not Valve has plans for updating these versions. 
        Updates to the game after its release can be tracked at Valve's Product Updates channel. A community grassroots effort to better document, organize, and track the resolutions of existing bugs and issues has been acknowledged by Valve and the unofficial CS:GO Bugs and Issue Tracker is maintained by the 64bitVPS Gaming Community .
    </div>
    <div id="patches">
        <h3>Patches</h3>
        Valve is known for providing unparalleled support and continuous updates for its titles, and Counter-Strike: Global Offensive is no exception. Since the beta ended, Hidden Path Entertainment have stopped its share of the development and Valve has taken over and provided countless updates to the game for everything from bug fixes and gameplay adjustments to new official content, and even added support for the Steam Workshop to allow custom content.
    </div>
    <div id="gamemodes">
        <h3>Game Modes</h3>
        Global Offensive contains several multiplayer game modes.
        Classic Casual and Classic Competitive: Classical game modes of Bomb defusal and Hostage rescue. Casual and Competitive have different rules to better suit casual players and competitive players.
        Bomb Defusal: The Terrorists must plant a C4 at a bombsite and the Counter-Terrorists must defend the bombsite.
        Hostage Rescue: The Counter-Terrorists must rescue the hostages and the Terrorists must defend the hostages.
        Arsenal: Two new modes based on the popular Gun Game mod.
        Arsenal: Demolition: Fast paced bomb defusal with weapon progression elements.
        Arsenal: Arms Race: Respawning deathmatch where players must progress through a list of weapons.
        Deathmatch (PC Only): Team-based respawning deathmatch.
        Guardian (PC only): An operation exclusive game scenario that features a single Counter-Terrorist who must fend off 5 bot controlled Terrorists.
        In addition, Global Offensive offers Offline with Bots, which offers the same game modes with AI-controlled bots; and the Weapons Course, a single player map serving as a tutorial and a training mode.
    </div>
</div>