<div>
    <div class="team" ng-repeat="team in teams | orderBy: '-points'">
        <span>
            <a ng-click="openLightboxModal(team.name, $index)">
                <img class="teamLogo" ng-src="images/teams/thumbs/{{team.shortname}}.png"/>
            </a>
            <span class="teamName">{{team.name}}</span>
        </span>
        <span class="teamPoints">{{team.points}}p</span>
        <div class="team-content">
            <div ng-repeat="player in team.players">
                <a ng-click="openPlayerLightboxModal(team.name, $index)">
                    <img class="playerLogo" ng-src="images/players/thumbs/{{player | lowercase}}.jpg" onerror="this.src='images/players/nopic.gif'" class="img-thumbnail">
                </a>
		<div align="center">{{player}}</div>
            </div>
        </div>
    </div>
</div>
