<div
    <div id="tournaments-carousel" align="center" ng-carousel ng-carousel-name="tournaments-carousel-gallery" ng-carousel-random ng-carousel-timer="6000">
        <slidecontainer>
            <slide ng-repeat="tournament in tournaments">
                <img draggable="false" class="tournament-image" ng-src="{{tournament.imageurl}}" /><br/>{{tournament.name}} - {{tournament.prize | currency}}
            </slide>
        </slidecontainer>
    </div>
</div>