html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #2c3e50 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    border-radius: 0px;
    min-height: 0px;
}
ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
}

ul.horizontal li {
    padding-left: 5px;
    padding-right: 5px;
    background: #333;
    float: left;
    line-height: 30px;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

ul.horizontal li a {
    border-radius: 0px;
    display: block;
    text-decoration: none;
    color: white;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}

ul.horizontal li:hover{
    background: #666;
}

.active {
    border-bottom: 3px solid #3498db;
}

#main {
    max-width: 800px;   
}

#viewContainer {
    background-color: #bdc3c7;
    padding: 10px;
}

h3 {
    border-bottom: 1px solid black;
}

.team {
    margin: 5px;
    padding: 5px;
}

.team:hover {
    background-color: #ecf0f1;
}

.teamLogo {
    max-width: 80px;
    max-height: 80px;
    cursor: pointer;
}
.teamName {
    font-size: 36px;
}
.teamPoints {
    font-size: 32px;
    float: right;
}
.team-content {
    display: flex;
    min-width: 160px;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: flex-end;
}
.playerLogo {
    max-width: 125px;
    max-height: 166px;
    z-index: 999;
    cursor: pointer;
}
.tournament-image {
    max-height: 400px;
    max-width: 780px;
}
#tournaments-carousel {
    height: 420px;
}
